@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: black;
    color:white;
    padding: 20px;
}
li,h1,ul{
    display:inline
}

ul li a{
    text-decoration: none;
    color: grey;
}
ul{
    margin-left: 65%;  
}
li {
    word-spacing: 15px;
    
    cursor: pointer;
}
a:hover{
    color:cyan;

}
.main{
    width: 100%;
    background: url(bg\ portfolio.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.homepage{
    color: white;
    padding-top: 15%;
    padding-left: 8%;
}
.homepage h1{
    font-size: 65px;
    color:white;
}
.homepage h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.homepage span{
    color: cyan;
}
.header span{
    color: cyan;
}
.homepage a{
    text-decoration:none;
    color: cyan;
    border-style:solid;
    border-color: cyan;
    margin: 26px 0;
    padding:5px 9px;
    border-radius: 7px;
    display: inline-block;
}
.homepage a:hover{
    background: cyan;
    color: black;
    
}
.image{
    width: 20%;
    height: 50%;
    position: absolute;
    right: 100px;
    bottom: 70px;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition:filter 0.3s ease-in-out;
}
.image:hover .myphoto{
    filter: grayscale(100%)
}
.icons a{
    text-decoration:overline;
    color: white;
}
.icons ion-icon{
    margin-left: 8%;
    color: white;
    margin-right: -90px;
    font-size: 40px;
}
.icons ion-icon:hover{
    color: cyan;
}
.aboutpage{
    width: 100%;
    background-color: #1B1B1B;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.aboutpage{
    color: white;
    padding-top: 17%;
    padding-left: 55%;

}
.aboutpage h1{
    font-size: 40px;
    color:white;
}
.aboutpage h1 span{
    color: cyan;
    }
.aboutpage h2{
    font-size: 20px;
    font-weight: 100;
    color:white;
    text-align:left;
}
.aboutpage span{
    color: cyan;

}
.imagetwo{
    width: 30%;
    height: 50%;
    position: absolute;
    left: 100px;
    bottom: -85%;
}
.imagetwo img{
    position: absolute;
    height: 140%;
    left: 70%;
    transform: translate(-50%);
    bottom: 0;
    transition:filter 0.3s ease-in-out;
}
.imagetwo:hover .myphototwo{
    filter: grayscale(100%)
}
.projectspage{
    margin-top: 0%;
    width: 100%;
    background: url(bg\ portfolio.jpg);
    background-position: center;
    background-size: cover;
    height: 160vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Change to repeat(4, 1fr) for a 4-column grid */
    gap:0%;
    padding: 80px;
}
.projectspage h1{
    font-size: 40px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}
.projectspage span{
    color: cyan;
}


.project :hover{
    padding: 15px;
    text-align: center;
    
}

.project img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}
.contactpage{
    background-color:#1B1B1B;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.column h1{
    font-size: 40px;
    color: white;
}
.column h3{
    color: white;
    
}
.column h4{
    font-weight: 100;
    color:white;
}
.contactpage span{
    color: cyan;
}

.contactpage a{
    text-decoration:none;
    color: cyan;
    border-style:solid;
    border-color: cyan;
    margin: 10px 0;
    padding:4px 9px;
    border-radius: 7px;
    display: inline-block;
}
.contactpage a:hover{
    background: cyan;
    color: black;;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color:white;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.column label{
    color:cyan;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
